[submodule "themes/researcher"]
	path = themes/researcher
	url = https://github.com/ojroques/hugo-researcher.git
[submodule "static/VG-relations"]
	path = static/VG-relations
	url = https://github.com/bbukaty/VG-relations.git
