

.btn {
  padding: 0px 16px;
}

.card .card-action {
  padding: 10px 24px;
}
 
.card .card-action-tabs {
  padding-top: 0px;
  padding-bottom: 0px;
}

.card .card-title-section {
  padding-bottom: 0px;
}

.card-icon {
  width:40px;
  height:40px;
  margin-right: 12px;
  border-radius: 4px;
}

.chip {
  height: 28px;
  line-height: 34px;
}

.stat-panel {
  padding: 8px;
}

.title {
  font-size: 32px;
  margin-bottom: 4px;
  font-weight: 400;
}

.title a {
  color: black;
}

.collapsible {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.collapsible-body {
  padding: 20px 32px;
  background-color: #FFF;
}

.collapsible-header .btn i {
  width: 1.0rem;
  font-size: 1.3rem;
  line-height: inherit;
}

.container {
  max-width: none;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 85%;
  }
}

.container-wide {
  margin: 0 auto;
  max-width: none;
  width: 98%;
}
 
.dropdown-content li > a, .dropdown-content li > span {
  padding: 6px 16px;
}
.dropdown-content li {
  min-height: 0px;
}

.edit-button {
  margin-left: 10px;
}

.fab-tip {
	position: fixed;
	right: 85px;
	padding:0.5rem 0.5rem;
	text-align: right;
	background-color: #323232;
	border-radius: 2px;
	color: #FFF;
	width:auto;
  
}

.hidden {
  display: none;
}

h4 {
  margin-bottom: 0px;
}

.tabs {
  height: 42px;
}

.tabs .tab {
  height: 42px;
  line-height: 42px;
}

.tabs .tab a {
  padding: 0px 0px;
}

.kpi {
  margin: 0 0 0 0;
}

.modal {
  max-height: 85%;
}

.main{
  padding-left: 220px;
}

@media only screen and (max-width: 992px) {
  .main {
    padding-left: 0px;
  }
}

.progress {
  height: 20px;
  margin: 1.2rem 0 .5rem 0;
}

.progress-icon {
  width: 60px;
  height: 60px;
  border-radius: 4px;
  display: block;
  margin: auto;
}

.progress-cell {
  border-radius: 12px;
}

.row {
  margin-bottom: 10px;
}

.row .col {
  padding: 0 0.35rem;
}

.section {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.side-nav {
  width: 230px;
}

.subtitle {
  font-size: 26px;
  font-weight: 300;
}

.text {
  pointer-events: none;
}
