@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 80%;
  }
}

.icon {
  width: 60px;
  height: 60px;
  background: white;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

.header {
  color: rgba(0, 0, 0, 0); /* header starts out transparent */
}

#header-1 {
  animation: fade-in 2s forwards 0.5s;
}

#header-2 {
  animation: fade-in 2s forwards 2.5s;
}

@keyframes fade-in {
  from { color: rgba(0, 0, 0, 0); }
  to { color: rgba(0, 0, 0, 1); }
}

.medium-font {
  font-size: 120%;
}

#buck {
   height: 200px;
   width: 200px;
   margin: auto;
   display: block;
}

.separator {
  margin-left: 4px;
  margin-right: 4px;
}

#connect {
  margin-bottom: 40px;
}