.icon {
  width: 60px;
  height: 60px;
  background: white;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
	font-size: inherit;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  width: 90%;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 80%;
  }
}

#buck {
   height: 200px;
   width: 200px;
   margin: auto;
   display: block;
}

.medium-font {
  font-size: 120%;
}